.form {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
    gap: 64px;
}

table {
    width: 100%;
}
  
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


