<div class="login-container">
    <div class="logo">
        <img src="../../assets/img/login.jpg">
    </div>
    <div class="login-form">
        <mat-card>
    <mat-card-content>
      <div class="header">
        <p>User Login</p>
      </div>
      <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
        <div class="emailInput">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              formControlName="email"
              matInput
              placeholder="Enter email address" required
              [(ngModel)]="email" />
            
            <mat-error *ngIf="!loginForm.controls['email'].valid">
                Email is required
              </mat-error>
          </mat-form-field>
        </div>
        <div>
          <span>
            <a class="aLink">Forgot Password?</a>
          </span>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required [(ngModel)]="password" />
            <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide">
            <mat-icon>
                {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </button>
        <mat-error *ngIf="!loginForm.controls['password'].valid">
            Password is required
          </mat-error>
        </mat-form-field>
        </div>
        <div>
            <button mat-flat-button color="primary" (click)="onSubmit()">Login</button>
         </div>
      </form>

      <div class="button-row">
        <p>Don't have account? <u>Sign up</u></p>
      </div>
    </mat-card-content>
        </mat-card>
    </div>
</div>